@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
