// Cores suaves
$blue: #4fa8ff;
$blue-dark: #3c78b4;
$green: #78e0a3;
$green-dark: #4caf83;
$gray-bg: #f4fef8;
$gray-dark: #444;
$white: #ffffff;

// Tipografia
$font-main: 'Segoe UI', sans-serif;

// Espaçamentos
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
