/* water-usage.scss */
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.water-usage {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__circle-background {
    fill: none;
    stroke: $blue-light;
    stroke-width: 8;
  }

  &__circle-progress {
    fill: none;
    stroke: $blue;
    stroke-width: 8;
    stroke-linecap: round;
    transition: stroke-dashoffset $transition-slow;
  }
  
  &__circle {
    width: 10rem; // 160px
    height: 10rem;
  }
}